.footer-copyright {
  font-size: small;
  color: #ffffff;
}

.footer-details {
  float: left;
  margin-top: 1%;
  color: #ffffff;
}

.footer-margin {
  margin-right: 100px;
  color: #ffffff;
}

.footer-padding {
  padding-left: 10%;
  width: 100%;
  bottom: 0;
  color: #ffffff;
}

.url {
  color: #ffffff;
}

.footer-style {
  background-color: gainsboro;
  margin-top: 15%;
}
