/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.btn {
  border-radius: 0.25rem;
  background-color: gray;
  width: 100px;
  padding: 2px;
  margin-bottom: 50px;
}
